@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
  color: #181818;
}

h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Bebas Neue", sans-serif;
}
