h2 {
  color: rgb(139, 64, 191);
  font-size: 2rem;
}

.header {
  width: fit-content;
  margin-bottom: 4vh;

  &__title {
    margin-bottom: 0;
  }

  &__author {
    font-size: 0.75rem;
    margin: 0;
    text-align: right;
    color: white;
    background-color: black;
    padding: 4px;
    width: fit-content;
  }
}
